.DS_Store
__pycache__/

# База данных SQLite
db.sqlite3

# Исключаем загруженные документы и отчеты
media/documents/
media/reports/

# Исключаем тестовые HTML файлы
test_*.html

# Исключаем настройки VS Code
.vscode/
